{% extends "layouts/base.html" %}

{% block title %} Chart Morris {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
